:root {
  --primary-color: #f8e8a6;
}
body {
  background: var(--primary-color);
  text-align: center;
}
h1 {
  text-transform: capitalize;
}
img {
  border-radius: 10px;
  max-height: 600px;
  width: auto;
  margin-bottom: 10px;
}
a {
  color: green;
  margin: 10px 10px 30px 10px;
}
p {
  margin: 30px;
}
a:visited {
  color: green;
}
.contact-link {
  color: blue;
}
.contact-link:visited {
  color: blue;
}
.link {
  margin-bottom: 30px;
}
